@model WebApplication1.Models.WarehouseForCreation
@{
    ViewData["Title"] = "Shto Warehouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="card-title pb-2">Shto Studio</h2>
            </div>
        </div>
        <form asp-action="Add" method="post">
            <div class="row">
                <div class="col-md-6 px-1">
                    <div class="form-group">
                        <label>Emri</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Emri">
                    </div>
                </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Pershkrimi</label>
                        <input asp-for="Description" type="text" class="form-control" placeholder="Pershkrimi">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-info btn-fill pull-right">Ruaj</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

}