@model IEnumerable<WebApplication1.Data.Warehouse>
@{
    ViewData["Title"] = "Lista e Warehouses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header">
                        <h4 class="card-title">Lista e Warehouse</h4>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <a asp-action="Add" asp-controller="Warehouse" class="btn btn-outline-primary">Krijo Warehouse</a>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Emer</th>
                                    <th>Pershkrimi</th>
                                    <th>Veprimet</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <a class="btn btn-primary" asp-route-id="@item.Id" asp-action="Edit">Ndrysho</a>
                                            &emsp;
                                            <a class="btn btn-danger" asp-route-id="@item.Id" asp-action="Delete">Fshi</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
}